* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    max-width: 1440px;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    margin: auto;
}

a {
    text-decoration: none;
}


button {
    font-family: inherit;
    border: unset;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
 }

 
h3 {
    width: 264px;
    color: var(--navyblue);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.4px;
}

:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud:#F4F4FD;
    --navybluemodal: #2E2F42;
    --grey: #2E2F42;
    --white: #FFFFFF;
    --dairy: #FCFCFC;
}

.iris {
    color: var(--iris);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-nav {
    width: 1440px;
    height: 72px;
    flex-shrink: 0;
    border-bottom: 1px solid var(--cornflower);
    background: var(--white);
}

.main-header-logo-link {
    color: var(--navyblue);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}


.hero {
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    background: var(--navyblue);
}

.footer-logo-link {
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.main-header-menu-list-item-link {
    color: var(--navyblue);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.main-header-menu-list-item-link:hover,
.main-header-contacts-link:hover {
    color: var(--ocean)
}

.main-header-contacts-link {
    color: var(--slate);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.32px;
}

.hero {
    background: var(--navyblue);
}

.hero-title {
    color: var(--white);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 1.12px;
}

.hero-cta {
    color: var(--white);
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--iris);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-cta:hover {
    background-color: var(--ocean)
}

.feature-list-item-title {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex-shrink: 0;
    color: var(--navyblue);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.feature-list-item-description {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-transform: capitalize;
}

.what-are-we-doing {
    width: 1440px;
    height: 2592px;
    background: var(--white);
}

.what-are-we-doing-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.what-are-we-doing-list-item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.our-team {
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    background: var(--cloud);
}

.our-team-list-item {
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.our-team-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.our-team-list-item {
    width: 264px;
    height: 260px;
}

.our-team-list-item-title {
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
} 

.our-team-list-item-decription {
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

.footer {
    background: var(--navyblue);
}

.footer-logo {
    display: flex;
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.footer-description {
    color: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-transform: none;
}

.portfolio-filter-list-cta {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.portfolio-filter-list-item-cta-all {
    color: var(--white);
    text-align: center;
    font-family: inherit;   
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    border-radius: 4px;
    background: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-filter-list-item-cta {
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-family: inherit;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    text-transform: capitalize;
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--cornflower);
    background: var(--cloud);
}

.portfolio-filter-list-item-cta:hover {    
    background: var(--ocean);
    border-color: var(--ocean);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px   rgba(0, 0, 0, 0.10);
}


.portfolio-list-item-title {
    color: var(--navyblue);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
    text-transform: capitalize;
}

.portfolio-list-item-description {
    color: var(--slate);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    text-transform: capitalize;
}

.portfolio-footer {
    background: var(--navyblue);
}

.portfolio-footer-logo-link {
    width: 71px;
    height: 21px;
    flex-direction: column;
    justify-content: center;
    color: var(--cloud);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 21px;
    letter-spacing: 0.54px;
    text-transform: uppercase;
}

.portfolio-footer-description {
    color: var(--cloud);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}

p {
    width: 264px;
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
}


